@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* {
  box-sizing: border-box;
  background-color: #eed4a8;
  font-family: 'Montserrat Alternates', sans-serif;
}


$primary: #d6e7e2;

// navbar
.navbar-wrapper {
  position: fixed;
  top: 0; 
  width: 100%; 
  z-index: 1;
}

.navbar-container {
  background-color: #d9ad62;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  gap: 2px;
}

.navbar-wrapper .navbar-container .navbar-brand .navbar-object {
  background-color: #d9ad62;
}

.navbar-brand .navbar-logo img {
  background-color: #d9ad62;
}

.navbar-wrapper .navbar-container .navbar-end .navbar-object {
  background-color: #d9ad62;
}

.navbar-brand {
  background-color: #d9ad62;
  display: flex;
  height: 100%;
  margin-right: 20px;
}

.navbar-end {
  display: flex;
  gap: 30px;
  height: 100%;
  background-color: #d9ad62;
  margin-right: 20px;
}

.navbar-object {
  text-decoration: none;
  font-weight: 800;
  padding-top: 10px;
  height: 100%;
  color: black;
}

.navbar-object-bigcat {
  background-color: #d9ad62;
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  font-weight: 800;
  padding-top: 20px;
  height: 100%;
  color: black;
}

.navbar-object-add {
  background-color: #d9ad62;
  display: flex;
  margin-right: 30px;
  text-decoration: none;
  font-weight: 800;
  padding-top: 20px;
  height: 100%;
  color: black;
}

.navbar-logo {
  background-color: #d9ad62;
  margin-right: 20px;
  margin-left: 20px;
}

//Homepage
.hero-page {
  display: flex;
  align-items: center;
  justify-content: center;}

.hero {
  background-image: url(/components/common/images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 450px;
  margin-top: 20px;
  width: 100%;
  position: relative;
  align-items: center;
}

.home-title {
  font-size: 50px;
  text-align: center;
  width: 100%;
  color: hsl(226, 77%, 45%);
  background-color: white;
  font-weight: bold;
}

.lead {
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  color: hsl(226, 77%, 45%);
  background-color: white;
}

// create new big cat form

.column-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
  }

.field {
  margin: 20px;
}

.label {
  font-size: 30px;
}

.control .input {
  height: 40px;
  width: 400px;
  border-radius: 8px;
}

.button-form {
  background-color: hsl(226, 77%, 45%);
  color: white;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

// big cat Show

.show-title {
  margin: 1px;
}

.title-show {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: hsl(226, 77%, 45%);
}

.title-show-small {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bicat-show-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.two-show-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit-button-show {
  padding: 13px 47px 13px 47px;
  font-size: 25px;
  text-decoration: none;
  border: solid;
  border-radius: 5px;
  color: hsl(226, 77%, 45%);
  background-color: white;
  box-shadow: 10px 5px 5px grey;
}

.delete-button-show {
  margin-top: 40px;
  padding: 20px;
  width: 150px;
  font-size: 20px;
  color: white;
  background-color: hsl(226, 77%, 45%);
  border-radius: 5px;
  box-shadow: 10px 5px 5px grey;
  cursor: pointer;
}

// index & card page
.columns-index {
text-decoration: none;
}

.column-bigcatcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding-top: 30px;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  text-decoration: none;
}

.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: hsl(226, 77%, 45%);
  font-size: 25px;
  text-decoration: none;
}

.card-container {
  text-decoration: none;
  padding-top: 40px;
}

.card-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-header-title {
  text-decoration: none;
  margin: 10px;
}

.card-food-title {
  font-size: 15px;
  margin-bottom: 45px;
}

.card-species-title {
  font-size: 18px;
  margin: 0px;
}

//profile page
.profile-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.profile-title-username {
  font-size: 30px;
  color: hsl(226, 77%, 45%);
  text-align: center;
}

.profile-title{
  font-size: 20px;
  text-align: center;
}

.profile-title-small {
  font-size: 18px;
  text-align: center;
  margin: 0px;
}

// register page
.register-form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}

.register-button {
  background-color: hsl(226, 77%, 45%);
  color: white;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;
}

// login page
.login-form-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.login-button {
  background-color: hsl(226, 77%, 45%);
  color: white;
  border: 1px solid #a9a9a9;
  border-radius: 8px;
  width: 400px;
  height: 40px;
  margin-top: 10px;
  cursor: pointer;

}